body {
    background-color: rgb(171, 205, 244);
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    color:rgb(63, 37, 215);
    font-size: 3em;
}
h2 {
    color:blueviolet;
}